<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
    <form [formGroup]="formUnidades">
        <div class="row justify-content-center" style="display: flex; height: 80vh;">
            <div class="col-5" style="margin: auto;">
                <div class="row">
                    <label class="text-main">Sumar dos numero</label>
                    <br>
                </div>
                <div class="inputs">
                    <input type="number" placeholder="Numero1" formControlName="Numero1">
                </div>
                <br>
                <div class="inputs">
                    <input type="number" placeholder="Numero2" formControlName="Numero2">
                </div>

                <button *ngIf='unidad==undefined' class="btn btn-dark" type="submit" (click)="Suma()">Sumar</button>
                <h4> El resultado es {{Resultado}} </h4>
            </div>
        </div>
    </form>
</ul>

<router-outlet></router-outlet>